@page "/org/dashboard"
@rendermode InteractiveServer

@using Humatrix_HRMS.DTOs
@using Humatrix_HRMS.Services
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "OrgAdmin")]

@inject OrgDashboardService DashboardService
@inject NavigationManager Nav

<PageTitle>Organization Dashboard</PageTitle>

<div class="container mt-4">

    <h2 class="mb-4"> Organization Dashboard</h2>

    @if (data == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="row g-3">

            <div class="col-md-3">
                <div class="card shadow-sm text-center p-3">
                    <h6>Total Employees</h6>
                    <h2>@data.TotalEmployees</h2>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow-sm text-center p-3">
                    <h6>Active Employees</h6>
                    <h2>@data.ActiveEmployees</h2>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow-sm text-center p-3">
                    <h6>Total HR</h6>
                    <h2>@data.TotalHR</h2>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow-sm text-center p-3">
                    <h6>Departments</h6>
                    <h2>@data.TotalDepartments</h2>
                </div>
            </div>

        </div>

        <div class="row mt-4">

            <div class="col-md-4">
                <div class="card shadow-sm p-3 text-center">
                    <h5>Departments</h5>
                    <button class="btn btn-primary w-100" @onclick="GoDepartments">
                        Manage Departments
                    </button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm p-3 text-center">
                    <h5>Designations</h5>
                    <button class="btn btn-warning w-100" @onclick="GoDesignations">
                        Manage Designation
                    </button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm p-3 text-center">
                    <h5>Employees</h5>
                    <button class="btn btn-success w-100" @onclick="GoEmployees">
                        Manage Employees
                    </button>
                </div>
            </div>

           

        </div>
    }
            
</div>

@code {
    private OrgDashboardDto? data;

    protected override async Task OnInitializedAsync()
    {
        data = await DashboardService.GetDashboardDataAsync();
    }

    void GoDepartments() => Nav.NavigateTo("/org/departments");
    void GoDesignations() => Nav.NavigateTo("/org/designations");
    void GoEmployees() => Nav.NavigateTo("/org/employees");
    
}
